#guessbox {
   border:2px solid blue;
   background-color: azure;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
 
 }
 
 #guess-to-table {
   margin-left: 5px;
}

table {
  height: 240px;
  width: 240px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  font-size:large;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  background-color: white;
  color: white;
}

#guess-table td {
   height: 3.5ch;
   width: 3.5ch;
   border: 3px solid white;
   background-color: #eee;
   color: white;
}

#find-matches {
   margin-bottom: 6px;
}
#eraseline {
   margin-bottom: 6px;
}
#output-box {
   font-family: 'Courier New', Courier, monospace;
}
#calculate {
   margin-right: 16px;
   margin-bottom: 6px;
}

#words-input {
   border: 2px solid blue;
}
#statistics {
   margin-top: 6px;
   margin-bottom: 6px;
}
#clear-all {
   margin-bottom: 6px;
}

/* //======================================
// DEBUGGERY
//======================================
let ElDebug = document.getElementById('debug');
ElDebug.addEventListener('click', debug);
function debug() {
    console.log('Greenboxes: ' + GreenBoxes);
    console.log('Yellowboxes: ' + YellowBoxes);
    console.log('Grayboxes: ' + GrayLetters);
    let norn = 'Solutions: ';
    Solutions.forEach(item => norn += item.length + ', ');
    console.log(norn);
    console.log('Data collected: ' + DataCollected);
} */